.container {
  margin: auto;
  text-align: center;
  max-width: 600px;

  &__image {
    width: 100px;
    height: auto;
  }
}

.left {
  text-align: left;
}

.bg-light{
  background-color: #717279!important; 
}

.dropdown-menu {
   position: absolute; 
   top: 100%; 
   left: 0; 
   z-index: 1000; 
   display: none; 
   float: left; 
   min-width: 10rem; 
   padding: .5rem 0; 
   margin: .125rem 0 0; 
   font-size: 1rem; 
   color: #062e57; 
   text-align: left; 
   list-style: none; 
   background-color: #afafaf; 
   background-clip: padding-box; 
   border: 1px solid rgba(0,0,0,.15); 
   border-radius: .25rem; 
}

.container {
    margin: none;
    text-align: center;
    max-width: 5600px;
    padding-right: 0px;
    padding-left: 0px;
    
}

.carousel-item {
  height: 32rem;
  background-color: #777;


}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 150%;
  object-fit: cover;
  
  height: 32rem;
  
  
}
.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #fff;
}